{   
    "presets": ["env"],
    "plugins": [
        'transform-class-properties',
        'transform-async-to-generator'
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
