# Derived files
dist/*
node_modules/*
coverage/*
out/*
.nyc_output/*

package-lock.json

# Logs and OS junk
yarn-*.log
*.DS_Store
*.com.apple.timemachine.supported

# Temp files
.tmp/*

# Lock files
package-lock.json
yarn.lock
